.Register{

    .top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        top: 20px;
        // position: absolute;
        margin-top: 20px;

        .name{
            font-family: "Manrope", sans-serif;
            font-weight: 900;
            font-style: normal;
            font-size: 40px;     
            }

        .return{
            font-family: "Manrope", sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 20px;
            cursor: pointer;
            background: white;
            border-radius: 50%;
            border: thin solid #a9a9a9;
            height: 60px;
            width: 60px;
            // padding: 8px;
            button{
                background: white;
                border: none;
                font-size: 30px;
                font-weight: 600;
                cursor: pointer;
                &:hover{
                    background: #a9a9a9;
                    color: white;
                    transition: 0.2s;
                }
                text-decoration: none;
            }

        }
    }

    .form{

        display: flex;
        flex-direction: column;
        // justify-content: center;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: auto;
        // white-space-collapse: discard;
        // margin-top: 50px;

        .title{
            font-family: 'Covered By Your Grace', cursive;
            font-weight: 400;
            color:#2DA950 ;
            font-size: 36px;
            text-align: center;
        }

        .desc{
            font-family: 'Manrope', sans-serif;
            font-weight: 530;
            font-size: 56px;
            line-height: 67.2px;
            align-items: center;
            text-align: center;
        }

        form{
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            // background: #a9a9a9 ;
            .input {
                width: 100%;
                padding: 27px;
                margin: 10px;
                border-radius: 50px;
                border: none;
                background: #efeeee;
                font-size: 18px;
              }
          
              .error {
                color: red;
                font-size: 12px;
                margin-top: 5px;
                margin-left: 0;
              }
          
              button {
                margin-bottom: 70px;
                width: 120%;
                padding: 27px;
                margin: 10px;
                border-radius: 50px;
                background: black;
                font-size: 18px;
                border: none;
                color: white;
                
                &:hover {
                  background: #403f3f;
                  cursor: pointer;
                }
              }
        }

        // .error{
        //     color: red; // Set color to red for error messages
        //     font-size: 12px;
        //     margin-top: 5px;
        // }
    }

}