.middle{
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    // align-items: center;
    padding: 0 20px;
}

// .questions{
//     position: absolute;
//     top: 1900%;

// }